doctype html
html    
    head
        <meta name="viewport" content="width=device-width, initial-scale=1">
        title= 'Coder Dojo Guatemala'
        link(rel='stylesheet', href='./stylesheets/nav.css')
        link(rel='stylesheet', href='./stylesheets/firstPart.css')
        link(rel='stylesheet', href='./stylesheets/secondPartContainers.css')
        link(rel='stylesheet', href='./stylesheets/footer.css')
        link(rel='stylesheet', href='./stylesheets/modeLigth.css')
        link(rel='stylesheet', href='./stylesheets/responsiveWeb/responsiveIndex.css')
        link(rel='stylesheet', href='./stylesheets/responsiveWeb/responsivePhones.css')
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap" rel="stylesheet">
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
    block bodyNav
    //this is the nav links update if you needed!
    - var link1 = 'sobre el dojo';
    - var link2 = 'reglas';
    - var link3 = 'proyectos';
    - var link4 = 'tutoriales';
    - var mainLink = 'coder dojo';
    


    div(class='wrapper')
        div(class='nav' id='main-nav')
            div(id='sub-navs')
                button(class='sub-btn') 
                    a(href='#') #{link1.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link2.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link3.toUpperCase()}
                button(class='sub-btn')
                     a(href='#') #{link4.toUpperCase()}
            button(id='main-btn') #{mainLink.toUpperCase()}
        
        //Presentation

        section(class='container')
            img(class='img-portrait' src='./images/nasa.jpg')
            div(class='container_titles')
                div(class='row-column')
                    div(class='column')
                        div(class='title')
                            h1 Coder Dojo <br> en Guatemala
                        div(class='paragraph_title')  
                            p Aprende a programar desde robots <br> inteligencia artificial incluso páginas web. 
                        div(class='button-title')
                            a(class='raise' href='#') Aprender más...
            div(class='container_titles_two')
                div(class='row')
                    div(class='paragraph_row p1')
                        p La única manera de cambiar Guatemala es cambiando la juventud, aquellos niños <br> convirtiendolos en investigadores.
                    div(class='paragraph_row p2')
                        p Gravedad 9.8kg. <br> Oxigeno <span class='color-obj_1'>-658.76%</span> <br> Metano <span class='color_obj_2'>1874.7%</span>
        div(class='skewed')

        //the containers part


        section(class="light-mode")
            //modeLigth.js

        div(class='container_sp')
            div(class='column_sp')
                 h1(class="h1_sp") Escoge algo para aprender
                 p(class='p_sp') Busca entre como construir un robot, diseñalo y programalo a tu antojo, diseña y programa una página web desde cero o vuelvete todo un <br> analista de datos en nuestra sección de 'patrones o coincidencias'.
        section(class='container_tp')
            div(class='row_tp')
                div(class='margin_tp')
                    div(class='inline_tp')
                        div(class='post_1tp orden1')
                            img(class='img1' src='./images/CrystalOne500.png')
                            h2(class='h2_tp') Robotica
                            
                            div(class='in_box')
                                p Aprende a programar tus propios robots con la ayuda de Rasberry, node, python, javaScript incluso diseñalos tu mismo.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden2')
                            img(class='img1 adjust_img' src='./images/CrystalTwo500.png') 
                            h2(class='h2_tp') Introduccion a la web
                            
                            div(class='in_box')
                                p Aprende a diseñar y realizar páginas web desde su arquitectura hasta crea tu propio servidor.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden3')
                            img(class='img1' src='./images/CrystalThree500.png') 
                            h2(class='h2_tp') Neo4j
                            
                            div(class='in_box')
                                p Aprende a hacer patrones y algoritmos de grafos, con proyectos realistas incluso usalo para Inteligencia Artificial.
                            button(class='box_button fill')
                                a(href='#') Aprender mas

        //VARIABLES FOR FOOTER
        - var footer0 = 'footer-container';
        - var footer1 = 'footer-row';
        - var footer2 = 'footer-adjust';
        - var footer3 = 'footer-adjust2';
        - var footer4 = ['footer-post', 'ordenf1'];
        - var footer5 = ['footer-post', 'ordenf2'];
        - var footer6 = ['footer-post', 'ordenf3'];
        - var footer7 = ['footer-post', 'ordenf4'];
        - var footerp = ['p-adjust'];
        //PARRAFOS
        //EMPTY ARRAYS FOR JQUERY MANIPULATION
        //YOU MUST TO UPDATE IN footer.js
        - var navegacion = ['', '', '', '', ''];
        - var catalogo = ['', '', '', '', '', '', '', ''];
        - var social = ['', '', '', '', ''];
        - var proposito = ["Coder dojo Guatemala es un club de programacion para la educacion y desarrollo de Guatemala de los creadores de MedicinaResources" ];
        //ENLACES
        //if you want to update the URLs, so you must chekc the file: footer.js there 
        //you going to find all the syntax for make the update.
        footer(class=footer0)
            div(class=footer1)
                div(class=footer2)
                    div(class=footer3)
                        div(class=footer4)
                            img
                            p(class=footerp) #{proposito}
                        div(class=footer5)
                            h3 Navegacion
                            each item in navegacion
                                ul(class='footer-a1')
                                    a= item
                        div(class=footer6)
                            h3 Catalogo
                            each item in catalogo
                                ul(class='footer-a2')
                                    a= item
                        div(class=footer7)
                            h3 Social
                            each item in social
                                ul(class='footer-a3')
                                    a= item
    </html>
    script(src='./javascripts/nav.js')
    script(src='./javascripts/footer.js')
    script(src='./javascripts/modeLigth.js')
    
    
    
    
    './stylesheets/footer.css')
        link(rel='stylesheet', href='./stylesheets/modeLigth.css')
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap" rel="stylesheet">
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
    block bodyNav
    //this is the nav links update if you needed!
    - var link1 = 'sobre el dojo';
    - var link2 = 'reglas';
    - var link3 = 'proyectos';
    - var link4 = 'tutoriales';
    - var mainLink = 'coder dojo';
    


    div(class='wrapper')
        div(class='nav' id='main-nav')
            div(id='sub-navs')
                button(class='sub-btn') 
                    a(href='#') #{link1.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link2.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link3.toUpperCase()}
                button(class='sub-btn')
                     a(href='#') #{link4.toUpperCase()}
            button(id='main-btn') #{mainLink.toUpperCase()}
        
        //Presentation

        section(class='container')
            img(class='img-portrait' src='./images/nasa.jpg')
            div(class='container_titles')
                div(class='row-column')
                    div(class='column')
                        div(class='title')
                            h1 Coder Dojo <br> en Guatemala
                        div(class='paragraph_title')  
                            p Aprende a programar desde robots <br> inteligencia artificial incluso páginas web. 
                        div(class='button-title')
                            a(class='raise' href='#') Aprender más...
            div(class='container_titles_two')
                div(class='row')
                    div(class='paragraph_row p1')
                        p La única manera de cambiar Guatemala es cambiando la juventud, aquellos niños <br> convirtiendolos en investigadores.
                    div(class='paragraph_row p2')
                        p Gravedad 9.8kg. <br> Oxigeno <span class='color-obj_1'>-658.76%</span> <br> Metano <span class='color_obj_2'>1874.7%</span>
        div(class='skewed')

        //the containers part


        section(class="light-mode")
            //modeLigth.js

        div(class='container_sp')
            div(class='column_sp')
                 h1(class="h1_sp") Escoge algo para aprender
                 p(class='p_sp') Busca entre como construir un robot, diseñalo y programalo a tu antojo, diseña y programa una página web desde cero o vuelvete todo un <br> analista de datos en nuestra sección de 'patrones o coincidencias'.
        section(class='container_tp')
            div(class='row_tp')
                div(class='margin_tp')
                    div(class='inline_tp')
                        div(class='post_1tp orden1')
                            img(class='img1' src='./images/CrystalOne500.png')
                            h2(class='h2_tp') Robotica
                            hr(class='hr_tp')
                            div(class='in_box')
                                p Aprende a programar tus propios robots con la ayuda de Rasberry, node, python, javaScript incluso diseñalos tu mismo.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden2')
                            img(class='img1 adjust_img' src='./images/CrystalTwo500.png') 
                            h2(class='h2_tp') Introduccion a la web
                            hr(class='hr_tp')
                            div(class='in_box')
                                p Aprende a diseñar y realizar páginas web desde su arquitectura hasta crea tu propio servidor.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden3')
                            img(class='img1' src='./images/CrystalThree500.png') 
                            h2(class='h2_tp') Neo4j
                            hr(class='hr_tp')
                            div(class='in_box')
                                p Aprende a hacer patrones y algoritmos de grafos, con proyectos realistas incluso usalo para Inteligencia Artificial.
                            button(class='box_button fill')
                                a(href='#') Aprender mas

        //VARIABLES FOR FOOTER
        - var footer0 = 'footer-container';
        - var footer1 = 'footer-row';
        - var footer2 = 'footer-adjust';
        - var footer3 = 'footer-adjust2';
        - var footer4 = ['footer-post', 'ordenf1'];
        - var footer5 = ['footer-post', 'ordenf2'];
        - var footer6 = ['footer-post', 'ordenf3'];
        - var footer7 = ['footer-post', 'ordenf4'];
        - var footerp = ['p-adjust'];
        //PARRAFOS
        //EMPTY ARRAYS FOR JQUERY MANIPULATION
        //YOU MUST TO UPDATE IN footer.js
        - var navegacion = ['', '', '', '', ''];
        - var catalogo = ['', '', '', '', '', '', '', ''];
        - var social = ['', '', '', '', ''];
        - var proposito = ["Coder dojo Guatemala es un club de programacion para la educacion y desarrollo de Guatemala de los creadores de MedicinaResources" ];
        //ENLACES
        //if you want to update the URLs, so you must chekc the file: footer.js there 
        //you going to find all the syntax for make the update.
        footer(class=footer0)
            div(class=footer1)
                div(class=footer2)
                    div(class=footer3)
                        div(class=footer4)
                            img
                            p(class=footerp) #{proposito}
                        div(class=footer5)
                            h3 Navegacion
                            each item in navegacion
                                ul(class='footer-a1')
                                    a= item
                        div(class=footer6)
                            h3 Catalogo
                            each item in catalogo
                                ul(class='footer-a2')
                                    a= item
                        div(class=footer7)
                            h3 Social
                            each item in social
                                ul(class='footer-a3')
                                    a= item
    </html>
    script(src='./javascripts/nav.js')
    script(src='./javascripts/footer.js')
    script(src='./javascripts/modeLigth.js')
    
    
    
    
    
