doctype html
html    
    head
        <meta name="viewport" content="width=device-width, initial-scale=1">
        title= 'Coder Dojo Guatemala'
        link(rel='stylesheet', href='./stylesheets/nav.css')
        link(rel='stylesheet', href='./stylesheets/firstPart.css')
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap" rel="stylesheet">
    body
    block bodyNav
    //this is the nav links update if you needed!
    - var link1 = 'sobre el dojo';
    - var link2 = 'reglas';
    - var link3 = 'proyectos';
    - var link4 = 'tutoriales';
    - var mainLink = 'coder dojo';

    div(class='wrapper')
        div(class='nav' id='main-nav')
            div(id='sub-navs')
                button(class='sub-btn') 
                    a(href='#') #{link1.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link2.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link3.toUpperCase()}
                button(class='sub-btn')
                     a(href='#') #{link4.toUpperCase()}
            button(id='main-btn') #{mainLink.toUpperCase()}
        
        //Presentation

        section(class='container')
            img(class='img-portrait' src='./images/nasa.jpg')
            div(class='container_titles')
                div(class='row-column')
                    div(class='column')
                        div(class='title')
                            h1 Coder Dojo <br> en Guatemala
                        div(class='paragraph_title')  
                            p Aprende a programar desde robots <br> inteligencia artificial incluso páginas web. 
                        div(class='button-title')
                            a(class='raise' href='#') Aprender más...
            div(class='container_titles_two')
                div(class='row')
                    div(class='paragraph_row p1')
                        p La única manera de cambiar Guatemala es cambiando la juventud, aquellos niños <br> convirtiendolos en investigadores.
                    div(class='paragraph_row p2')
                        p Gravedad 9.8kg. <br> Oxigeno <span class='color-obj_1'>-658.76%</span> <br> Metano <span class='color_obj_2'>1874.7%</span>
        div(class='skewed')

        //the containers part

        div(class='container_one')
            div 
                 a(href='#') hola hola 
    </html>
    script(src='./javascripts/nav.js')
    
    
    
    
