doctype html
html    
    head
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Coder Dojo Guatemala un lugar donde aprender a programar es divertido y para todo rango de edades">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Jorge AML">
        <meta name="application-name" content="Coder Dojo Guatemala-Mixco">
        title= 'Coder Dojo Guatemala'
        link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
        link(rel='stylesheet', href='./stylesheets/nav.css')
        link(rel='stylesheet', href='./stylesheets/firstPart.css')
        link(rel='stylesheet', href='./stylesheets/secondPartContainers.css')
        link(rel='stylesheet', href='./stylesheets/footer.css')
        link(rel='stylesheet', href='./stylesheets/modeLigth.css')
        link(rel='stylesheet', href='./stylesheets/responsiveWeb/responsiveIndex.css')
        link(rel='stylesheet', href='./stylesheets/responsiveWeb/responsivePhones.css')
        link(rel='stylesheet', href='./stylesheets/landingCoolDesktop.css')
        link(rel='stylesheet', href='./stylesheets/rules.css')
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap" rel="stylesheet">
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    body
    block bodyNav
    //this is the nav links update if you needed!
    - var link1 = 'sobre el dojo';
    - var link2 = 'reglas';
    - var link3 = 'Donar';
    - var link4 = 'participa';
    - var mainLink = 'coder dojo';
    


    div(class='wrapper')
        div(class='nav' id='main-nav')
            div(id='sub-navs')
                button(class='sub-btn') 
                    a(href='#') #{link1.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link2.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link3.toUpperCase()}
                button(class='sub-btn')
                     a(href='#') #{link4.toUpperCase()}
            button(id='main-btn') #{mainLink.toUpperCase()}
        
        //Presentation

        section(class='container')
            img(class='img-portrait' src='https://raw.githubusercontent.com/jorgeAML/coderdojoguatemala/master/public/images/nasa.jpg')
            div(class='container_titles')
                div(class='row-column')
                    div(class='column')
                        div(class='title')
                            h1 Coder Dojo <br> en Guatemala
                        div(class='paragraph_title')  
                            p Aprende a programar desde robots <br> inteligencia artificial incluso páginas web. 
                            p Coder Dojo Guatemala es un lugar donde programar <br> es divertido y ademas conoces a personas increíbles.
                        div(class='button-title')
                            a(class='raise' href='https://coderdojo.com/es-ES/start-a-dojo') ¡Crea tu propio Dojo!
            div(class='container_titles_two')
                div(class='row')
                    div(class='paragraph_row p1')
                        p CoderDojo organiza eventos gratuitos para aprender a programar <br> para niñas y niños entre 7 a 18 años.<br>Un dojo es totalmente preparado por voluntarios, como tú.
                    div(class='paragraph_row p2')
                        p Gravedad 9.8kg. <br> Oxigeno <span class='color-obj_1'>-658.76%</span> <br> Metano <span class='color_obj_2'>1874.7%</span>
        div(class='skewed')

        //the containers part


        //section(class="light-mode")
            //modeLigth.js

        div(class='container_sp')
            div(class='column_sp')
                 h1(class="h1_sp") ¿Quieres aprender a programar? <br> ¿Expresar tu creatividad haciendo juegos, sitios web o robots? <br>
                 p(class='p_sp') Busca entre como construir un robot, diseñalo y programalo a tu antojo, diseña y programa una página web desde cero o vuelvete todo un <br> experto en inteligencia artificial prgramando habilidades para Alexa.
                 p(class='p_sp') Coder Dojo Guatemala organiza eventos para niñas y niños entre los 7 a 18 años. Los Dojos son realizados por personas voluntarias <br> Los integrantes del club son los heroes y heroínas que estimulan sus fantásias y creatividad en el mundo de los bits y bites.
        section(class='container_tp')
            div(class='row_tp')
                div(class='margin_tp')
                    div(class='inline_tp')
                        div(class='post_1tp orden1')
                            img(class='img1' src='./images/alexa1.png')
                            h2(class='h2_tp') Alexa Skills
                            
                            div(class='in_box')
                                p Aprende a programar habilidades para Alexa usando la tecnología creada por Amazon en conjunto aprenderás a crear inteligencia artificial.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden2')
                            img(class='img1 adjust_img' src='./images/web1.jpg') 
                            h2(class='h2_tp') Introduccion a la web
                            
                            div(class='in_box')
                                p Aprende a diseñar y realizar páginas web desde su arquitectura hasta crea tu propio servidor.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden3')
                            img(class='img1' src='./images/java1.jpg') 
                            h2(class='h2_tp') Java
                            
                            div(class='in_box')
                                p Aprende sobre uno de los lenguajes de programación más solicitados en el mundo, resolviendo un sin fin de algoritmos.
                            button(class='box_button fill')
                                a(href='./JAVA/index.html') Aprender mas
        section(class='container-cool')
        //VARIABLES FOR FOOTER
        - var footer0 = 'footer-container';
        - var footer1 = 'footer-row';
        - var footer2 = 'footer-adjust';
        - var footer3 = 'footer-adjust2';
        - var footer4 = ['footer-post', 'ordenf1'];
        - var footer5 = ['footer-post', 'ordenf2'];
        - var footer6 = ['footer-post', 'ordenf3'];
        - var footer7 = ['footer-post', 'ordenf4'];
        - var footerp = ['p-adjust'];
        //PARRAFOS
        //EMPTY ARRAYS FOR JQUERY MANIPULATION
        //YOU MUST TO UPDATE IN footer.js
        - var navegacion = ['', '', '', '', ''];
        - var catalogo = ['', '', '', '', '', '', '', ''];
        - var social = ['', '', '', '', ''];
        - var proposito = ["Coder dojo Guatemala es un club de programacion para la educacion y desarrollo de Guatemala de los creadores de MedicinaResources" ];
        - var email = "mixco_aml_labs.gt@coderdojo.com";
        //ENLACES
        //if you want to update the URLs, so you must chekc the file: footer.js there 
        //you going to find all the syntax for make the update.
        footer(class=footer0)
            div(class=footer1)
                div(class=footer2)
                    div(class=footer3)
                        div(class=footer4)
                            img
                            p(class=footerp) #{proposito}
                            p(class=footerp) #{email}
                        div(class=footer5)
                            h3 Navegación
                            each item in navegacion
                                ul(class='footer-a1')
                                    a= item
                        div(class=footer6)
                            h3 Catálogo
                            each item in catalogo
                                ul(class='footer-a2')
                                    a= item
                        div(class=footer7)
                            h3 Redes Sociales
                            each item in social
                                ul(class='footer-a3')
                                    a= item
    </html>
    script(src='./javascripts/nav.js')
    script(src='./javascripts/footer.js')
    script(src='./javascripts/modeLigth.js')
    script(src='./javascripts/landing.js')
    
    
    
   
