doctype html
html    
    head
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Coder Dojo Guatemala un lugar donde aprender a programar es divertido y para todo rango de edades">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Jorge AML">
        <meta name="application-name" content="Coder Dojo Guatemala-Mixco">
        title= 'Coder Dojo Guatemala'
        link(rel='stylesheet', href='./stylesheets/nav.css')
        link(rel='stylesheet', href='./stylesheets/firstPart.css')
        link(rel='stylesheet', href='./stylesheets/secondPartContainers.css')
        link(rel='stylesheet', href='./stylesheets/footer.css')
        link(rel='stylesheet', href='./stylesheets/modeLigth.css')
        link(rel='stylesheet', href='./stylesheets/responsiveWeb/responsiveIndex.css')
        link(rel='stylesheet', href='./stylesheets/responsiveWeb/responsivePhones.css')
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@531&display=swap" rel="stylesheet">
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
    block bodyNav
    //this is the nav links update if you needed!
    - var link1 = 'sobre el dojo';
    - var link2 = 'reglas';
    - var link3 = 'proyectos';
    - var link4 = 'tutoriales';
    - var mainLink = 'coder dojo';
    


    div(class='wrapper')
        div(class='nav' id='main-nav')
            div(id='sub-navs')
                button(class='sub-btn') 
                    a(href='#') #{link1.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link2.toUpperCase()}
                button(class='sub-btn')
                    a(href='#') #{link3.toUpperCase()}
                button(class='sub-btn')
                     a(href='#') #{link4.toUpperCase()}
            button(id='main-btn') #{mainLink.toUpperCase()}
        
        //Presentation

        section(class='container')
            img(class='img-portrait' src='https://s258vla.storage.yandex.net/rdisk/3bda5defee730c93717ccca89d4f6254a6129b69af9a38c286bce64ca8d09678/6020f783/MENMWvNs6buenabbExQjB9KIisurvbCOmHMF8or-6HCGfFNd1i2lzVsCtfrHVuE86WvtWqeXcXFUcgeQJzk0Iw==?uid=0&filename=nasa.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&fsize=468850&hid=e126156ca7dbfc5e976bdc6301d79efd&media_type=image&tknv=v2&etag=af12876eabbc9bb590817f46b126df96&rtoken=7ENrEyWZ0QgV&force_default=no&ycrid=na-f9952f1888e2e96b65afbc95a9f3c897-downloader19f&ts=5bacf08baa6c0&s=e7a0504d57a76b0a937f23d41436101e4953a7cf764026aab2efcd124148e347&pb=U2FsdGVkX199zjFcWnS0qnNwitTedLYGtMZrE2KB6WNrUTo9E30yAT8u76_7DAljj9kB9sDj9SovhOQmuZ7TBtiNxtJFJ0PNFyffGjYuDG4')
            div(class='container_titles')
                div(class='row-column')
                    div(class='column')
                        div(class='title')
                            h1 Coder Dojo <br> en Guatemala
                        div(class='paragraph_title')  
                            p Aprende a programar desde robots <br> inteligencia artificial incluso páginas web. 
                        div(class='button-title')
                            a(class='raise' href='#') Aprender más...
            div(class='container_titles_two')
                div(class='row')
                    div(class='paragraph_row p1')
                        p La única manera de cambiar Guatemala es cambiando la juventud, aquellos niños <br> convirtiendolos en investigadores.
                    div(class='paragraph_row p2')
                        p Gravedad 9.8kg. <br> Oxigeno <span class='color-obj_1'>-658.76%</span> <br> Metano <span class='color_obj_2'>1874.7%</span>
        div(class='skewed')

        //the containers part


        section(class="light-mode")
            //modeLigth.js

        div(class='container_sp')
            div(class='column_sp')
                 h1(class="h1_sp") Escoge algo para aprender
                 p(class='p_sp') Busca entre como construir un robot, diseñalo y programalo a tu antojo, diseña y programa una página web desde cero o vuelvete todo un <br> analista de datos en nuestra sección de 'patrones o coincidencias'.
        section(class='container_tp')
            div(class='row_tp')
                div(class='margin_tp')
                    div(class='inline_tp')
                        div(class='post_1tp orden1')
                            img(class='img1' src='https://s94vla.storage.yandex.net/rdisk/a952a4562f5f047e9c2e8ccd186f155f7f001fb1e8005ec0db194d20c6e97235/6020f857/MENMWvNs6buenabbExQjB35S1WsNMb8plI_MBYViFIYUE2ayf7tT6bFX4JgMO1BPBACHh7YDMAXT6a7tqsh_MA==?uid=0&filename=CrystalOne500.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&fsize=159801&hid=cef8eadf074e04e3d2ac5d97c46f3096&media_type=image&tknv=v2&etag=8201d23768e0cdcc3480481ab745afbe&rtoken=ZvZLqh5rcBkX&force_default=no&ycrid=na-89780930798bcdda015fb7e54e6a9ae9-downloader19f&ts=5bacf155d83c0&s=de7789747225b4d400a40264163148865618389235156ab9a52707415eb3004b&pb=U2FsdGVkX1-PhqcrkAr-oyflhxS5VIP3aYQCGm3fHYnd3kTw_qHE4t_X3ZwNZ5Y4yC-6c3PkW4fmdlMSmAD6GUNBqz41zA6VbJiv1Kjmaw4')
                            h2(class='h2_tp') Alexa Skills
                            
                            div(class='in_box')
                                p Aprende a programar habilidades para Alexa usando la tecnología creada por Amazon en conjunto aprenderás a crear inteligencia artificial.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden2')
                            img(class='img1 adjust_img' src='https://s242vla.storage.yandex.net/rdisk/5318cc7c5e5cd6d0ccd35c17a9184de345def09b4635bd000b5578e4add23ab2/6020f92c/MENMWvNs6buenabbExQjB50AN-3ATyOSkshBouXMRkIEqZVGQw1GuDlcSiHKpZK0Wx1fezcJo3vkH4z4U_qtsg==?uid=0&filename=CrystalTwo500.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&fsize=172200&hid=3dcbf3d1ee967b33618ab93ee24b7184&media_type=image&tknv=v2&etag=010da2f4262f0e6e7a605a20d1746226&rtoken=QKxYByLrpGwx&force_default=no&ycrid=na-94c9ff785046f5d00893ff1fd1b28821-downloader19f&ts=5bacf220fa300&s=2ff5b9ef51ab20b8b2a61f24aaa09aeb1b02800f42e6c78785192cec99118666&pb=U2FsdGVkX1_SPEjOz21y8aNI7pvGxarF8ScAvIunRFHy1bfXKQ2bQhRG2CE4YrchShKtMn8I6Cd238Y89FoQ0gUfA-iDYQ91SewMHq83GLc') 
                            h2(class='h2_tp') Introduccion a la web
                            
                            div(class='in_box')
                                p Aprende a diseñar y realizar páginas web desde su arquitectura hasta crea tu propio servidor.
                            button(class='box_button fill')
                                a(href='#') Aprender mas
                        div(class='post_1tp orden3')
                            img(class='img1' src='https://s206vla.storage.yandex.net/rdisk/34ced91ef21bd2b23aeb3ab20b66952905ee33289882cdbf55873a2f7903134f/6020f94f/MENMWvNs6buenabbExQjB5P1R7ivJEMD5rYe6ysOrCLv7QjKetfMH4hkwX4sEW7PmYPC59u7pAPZtPyJXsVTPA==?uid=0&filename=Crystalthree500.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&fsize=213510&hid=322c267871afc6c086206b699217fd3d&media_type=image&tknv=v2&etag=57302f32bb16b29f0ce8e0a3c18c5c73&rtoken=DexLtgWLrp2r&force_default=no&ycrid=na-9e10d2eba44c82ce8d04e782a0fb4116-downloader19f&ts=5bacf2425b1c0&s=b4edb9eee328d2221ad2a4215a586a6edcef99dd4d6f0cfcc3ea9f477f6269b2&pb=U2FsdGVkX1_w31DVyQqQb-sAMSdaLOY_03BUUZjGP9rvKZOhkV2j0uHQcLH0m5lQZ8cT9myPy1B83e7S9UDa_aP7DcOeocGKr7SdQaF60Ew') 
                            h2(class='h2_tp') Java
                            
                            div(class='in_box')
                                p Aprende sobre uno de los lenguajes de programación más solicitados en el mundo, resolviendo un sin fin de algoritmos.
                            button(class='box_button fill')
                                a(href='./JAVA/index.html') Aprender mas

        //VARIABLES FOR FOOTER
        - var footer0 = 'footer-container';
        - var footer1 = 'footer-row';
        - var footer2 = 'footer-adjust';
        - var footer3 = 'footer-adjust2';
        - var footer4 = ['footer-post', 'ordenf1'];
        - var footer5 = ['footer-post', 'ordenf2'];
        - var footer6 = ['footer-post', 'ordenf3'];
        - var footer7 = ['footer-post', 'ordenf4'];
        - var footerp = ['p-adjust'];
        //PARRAFOS
        //EMPTY ARRAYS FOR JQUERY MANIPULATION
        //YOU MUST TO UPDATE IN footer.js
        - var navegacion = ['', '', '', '', ''];
        - var catalogo = ['', '', '', '', '', '', '', ''];
        - var social = ['', '', '', '', ''];
        - var proposito = ["Coder dojo Guatemala es un club de programacion para la educacion y desarrollo de Guatemala de los creadores de MedicinaResources" ];
        //ENLACES
        //if you want to update the URLs, so you must chekc the file: footer.js there 
        //you going to find all the syntax for make the update.
        footer(class=footer0)
            div(class=footer1)
                div(class=footer2)
                    div(class=footer3)
                        div(class=footer4)
                            img
                            p(class=footerp) #{proposito}
                        div(class=footer5)
                            h3 Navegación
                            each item in navegacion
                                ul(class='footer-a1')
                                    a= item
                        div(class=footer6)
                            h3 Catálogo
                            each item in catalogo
                                ul(class='footer-a2')
                                    a= item
                        div(class=footer7)
                            h3 Redes Sociales
                            each item in social
                                ul(class='footer-a3')
                                    a= item
    </html>
    script(src='./javascripts/nav.js')
    script(src='./javascripts/footer.js')
    script(src='./javascripts/modeLigth.js')
    
    
   
